*.html    @Siddhant-K-code
*.css     @Siddhant-K-code
*.scss    @Siddhant-K-code
*.js      @Siddhant-K-code
*.ts      @gitpod-io/team-website
*.svelte  @gitpod-io/team-website
*.json    @Siddhant-K-code
*.yml     @Siddhant-K-code
